<li id="checklist_item_<%= checklist_item.id %>" class="<%= done_item_css_class(checklist_item) %> <%= section_item_css_class(checklist_item) %>" >
  <% unless checklist_item.is_section %>
    <%= check_box_tag 'checklist_item', '', checklist_item.is_done,
                      disabled: !can_edit_checklist_item?(checklist_item),
                      data_url: url_for({ controller: 'checklists', action: 'done', id: checklist_item.id }),
                      class: 'checklist-checkbox',
                      id: "checklist-checkbox-#{checklist_item.id}"
    %>
  <% end %>
  <%= textilizable(checklist_item, :subject).gsub(/<\/?(p|h\d+|li|ul)>/, '').strip.html_safe %>
</li>
